@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

html {
  background: url(./images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.App {
  display: flex;
  justify-content: center;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

}

.Search {
  width: 95%;
}

.search-form {
  align-self: center;
  padding-top: 5px;
  width: 35%;
}

.search-bar{
  width: 85%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
}

.search-button {
  width: 13%;
  height: 32px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  font-size: 10px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: white;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
}


.img {
  height: 100%;
  width: 100%;
}

.label {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.view-button {
  border-radius: 15px;
  background-color: white;
  border: 2px solid grey;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.view-button:hover {
  cursor: pointer;
}


.none {
  display: none;
}
