html {
  background: url(./images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.App {
  display: flex;
  flex-direction: column;
}

.search-form {
  align-self: center;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



