.recipe {
  background-color: white;
  border-radius: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px
}

.label {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 35px;
  padding: 5px;
  text-align: center;
}

.ingredients {
  display:flex;
  padding-left: 25px;
  width: 100%;
  flex-direction: column;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 18px;
}

.img {
  border-radius: 100%;
  height: 20%;
  width: 20%;
  margin: 10px 0 10px 0;
}

.none {
  display: none;
}
